CSCI 101: Foundation of Data Science and Engineering<br>
Author: Bruce Huang, Ph.D.<br>
<br>
Topics: Data Cleaning. Data summarizing and grouping using pandas pivot and pivot table methods   <br>

In [2]:
# import pandas and numpy
import pandas as pd
import numpy as np

df = pd.read_csv('cookiesdirtydata.csv')

In [3]:
df.head(5)

       Date       Day  Temperature Salesman Tweets  Price Sales
0  1/1/2019   Tuesday         72.0     John      2    0.5   177
1       NaN       NaN          NaN      NaN    NaN    NaN   NaN
2  1/3/2019  Thursday         69.0     John      5    0.5   172
3  1/4/2019    Friday        100.0     John      7    0.5   150
4       NaN       NaN          NaN      NaN    NaN    NaN   NaN

In [4]:
# drop rows if all elements are blank
df.dropna(how="all", inplace = True)

In [5]:
df.head(5)

       Date       Day  Temperature Salesman Tweets  Price Sales
0  1/1/2019   Tuesday         72.0     John      2    0.5   177
2  1/3/2019  Thursday         69.0     John      5    0.5   172
3  1/4/2019    Friday        100.0     John      7    0.5   150
5  1/6/2019    Sunday         91.0      Ada      8    0.5   120
6  1/7/2019    Monday         81.0      Ada      3    0.3    96

In [6]:
# remove leading/trailing spaces
df["Salesman"] = df["Salesman"].str.strip()

In [7]:
df

         Date        Day  Temperature Salesman Tweets  Price Sales
0    1/1/2019    Tuesday         72.0     John      2    0.5   177
2    1/3/2019   Thursday         69.0     John      5    0.5   172
3    1/4/2019     Friday        100.0     John      7    0.5   150
5    1/6/2019     Sunday         91.0      Ada      8    0.5   120
6    1/7/2019     Monday         81.0      Ada      3    0.3    96
8    1/9/2019  Wednesday         69.0     John      8    0.5   177
9   1/10/2019   Thursday         61.0     John     10    0.5   190
10  1/11/2019     Friday         79.0     John      1    0.5   154
11  1/12/2019   Saturday         94.0     John      H    0.5   160
12  1/13/2019     Sunday         80.0     John      5    0.5   161
13  1/14/2019     Monday         64.0     John      8    0.5   185
14  1/15/2019    Tuesday         94.0      Ada      6    0.5   137
15  1/16/2019  Wednesday         68.0      Ada      5    0.3     $
16  1/17/2019   Thursday         74.0      Ada      2    0.3    85
17  1/18/2019     Friday         89.0     John      4    0.5   122
18  1/19/2019   Saturday         87.0     John      6    0.5   187
19  1/20/2019     Sunday        100.0     John      7    0.5   165
20  1/21/2019     Monday         89.0     John      8    0.5   158
21  1/22/2019    Tuesday         82.0     John      6    0.5   192
22  1/23/2019  Wednesday         60.0      Ada      7    0.3    87
23  1/24/2019   Thursday         75.0     John      1    0.5   156
24  1/25/2019     Friday         82.0      Ada      7    0.3    84
25  1/26/2019   Saturday         69.0     John      0    0.5   125
26  1/27/2019     Sunday         82.0      Ada      6    0.3   177
27  1/28/2019     Monday         96.0     John     10    0.5   166
28  1/29/2019    Tuesday         84.0     John      4    0.5   198
29  1/30/2019  Wednesday         84.0      Ada      7    0.3   105
30  1/31/2019   Thursday         92.0     John      8    0.5   172
31   2/1/2019     Friday         92.0     John      9    0.5   121
32   2/2/2019   Saturday         69.0     John      9    0.5   187
33   2/3/2019     Sunday         65.0     John      6    0.5   194
34   2/4/2019     Monday         67.0      Ada      3    0.3    94
35   2/5/2019    Tuesday         70.0     John      4    0.5   193
36   2/6/2019  Wednesday         86.0      Ada      5    0.3   114
37   2/7/2019   Thursday         71.0      Ada      3    0.3   110
38   2/8/2019     Friday         90.0     John      3    0.5   162
39   2/9/2019   Saturday         87.0     John      6    0.5   141
41  2/11/2019     Monday         68.0     John      2    0.5   158
42  2/12/2019    Tuesday         80.0     John      0    0.5   174
43  2/13/2019  Wednesday         78.0     John      0    0.5   142
44  2/14/2019   Thursday         85.0     John      1    0.5   126
45  2/15/2019     Friday         83.0      Ada      4    0.3    87
46  2/16/2019   Saturday         71.0     John      3    0.5   199
47  2/17/2019     Sunday         96.0     John      2    0.5   141
48  2/18/2019     Monday         80.0     John      6    0.5   200
49  2/19/2019    Tuesday         71.0     John      2    0.5   193

In [8]:
# replaces invalid valuzes with NaN for one column
df['Price'] = df['Price'].replace('[^A-Za-z0-9]',np.NaN,regex=True)

# replaces invalid values with NaN for multiple columns
df[['Tweets','Sales']] = df[['Tweets','Sales']].replace('[^0-9]',np.NaN,regex=True)

In [9]:
df

         Date        Day  Temperature Salesman Tweets  Price Sales
0    1/1/2019    Tuesday         72.0     John      2    0.5   177
2    1/3/2019   Thursday         69.0     John      5    0.5   172
3    1/4/2019     Friday        100.0     John      7    0.5   150
5    1/6/2019     Sunday         91.0      Ada      8    0.5   120
6    1/7/2019     Monday         81.0      Ada      3    0.3    96
8    1/9/2019  Wednesday         69.0     John      8    0.5   177
9   1/10/2019   Thursday         61.0     John     10    0.5   190
10  1/11/2019     Friday         79.0     John      1    0.5   154
11  1/12/2019   Saturday         94.0     John    NaN    0.5   160
12  1/13/2019     Sunday         80.0     John      5    0.5   161
13  1/14/2019     Monday         64.0     John      8    0.5   185
14  1/15/2019    Tuesday         94.0      Ada      6    0.5   137
15  1/16/2019  Wednesday         68.0      Ada      5    0.3   NaN
16  1/17/2019   Thursday         74.0      Ada      2    0.3    85
17  1/18/2019     Friday         89.0     John      4    0.5   122
18  1/19/2019   Saturday         87.0     John      6    0.5   187
19  1/20/2019     Sunday        100.0     John      7    0.5   165
20  1/21/2019     Monday         89.0     John      8    0.5   158
21  1/22/2019    Tuesday         82.0     John      6    0.5   192
22  1/23/2019  Wednesday         60.0      Ada      7    0.3    87
23  1/24/2019   Thursday         75.0     John      1    0.5   156
24  1/25/2019     Friday         82.0      Ada      7    0.3    84
25  1/26/2019   Saturday         69.0     John      0    0.5   125
26  1/27/2019     Sunday         82.0      Ada      6    0.3   177
27  1/28/2019     Monday         96.0     John     10    0.5   166
28  1/29/2019    Tuesday         84.0     John      4    0.5   198
29  1/30/2019  Wednesday         84.0      Ada      7    0.3   105
30  1/31/2019   Thursday         92.0     John      8    0.5   172
31   2/1/2019     Friday         92.0     John      9    0.5   121
32   2/2/2019   Saturday         69.0     John      9    0.5   187
33   2/3/2019     Sunday         65.0     John      6    0.5   194
34   2/4/2019     Monday         67.0      Ada      3    0.3    94
35   2/5/2019    Tuesday         70.0     John      4    0.5   193
36   2/6/2019  Wednesday         86.0      Ada      5    0.3   114
37   2/7/2019   Thursday         71.0      Ada      3    0.3   110
38   2/8/2019     Friday         90.0     John      3    0.5   162
39   2/9/2019   Saturday         87.0     John      6    0.5   141
41  2/11/2019     Monday         68.0     John      2    0.5   158
42  2/12/2019    Tuesday         80.0     John      0    0.5   174
43  2/13/2019  Wednesday         78.0     John      0    0.5   142
44  2/14/2019   Thursday         85.0     John      1    0.5   126
45  2/15/2019     Friday         83.0      Ada      4    0.3    87
46  2/16/2019   Saturday         71.0     John      3    0.5   199
47  2/17/2019     Sunday         96.0     John      2    0.5   141
48  2/18/2019     Monday         80.0     John      6    0.5   200
49  2/19/2019    Tuesday         71.0     John      2    0.5   193

In [10]:
# drop rows if one or more elements are blank
df = df.dropna()

In [11]:
df

         Date        Day  Temperature Salesman Tweets  Price Sales
0    1/1/2019    Tuesday         72.0     John      2    0.5   177
2    1/3/2019   Thursday         69.0     John      5    0.5   172
3    1/4/2019     Friday        100.0     John      7    0.5   150
5    1/6/2019     Sunday         91.0      Ada      8    0.5   120
6    1/7/2019     Monday         81.0      Ada      3    0.3    96
8    1/9/2019  Wednesday         69.0     John      8    0.5   177
9   1/10/2019   Thursday         61.0     John     10    0.5   190
10  1/11/2019     Friday         79.0     John      1    0.5   154
12  1/13/2019     Sunday         80.0     John      5    0.5   161
13  1/14/2019     Monday         64.0     John      8    0.5   185
14  1/15/2019    Tuesday         94.0      Ada      6    0.5   137
16  1/17/2019   Thursday         74.0      Ada      2    0.3    85
17  1/18/2019     Friday         89.0     John      4    0.5   122
18  1/19/2019   Saturday         87.0     John      6    0.5   187
19  1/20/2019     Sunday        100.0     John      7    0.5   165
20  1/21/2019     Monday         89.0     John      8    0.5   158
21  1/22/2019    Tuesday         82.0     John      6    0.5   192
22  1/23/2019  Wednesday         60.0      Ada      7    0.3    87
23  1/24/2019   Thursday         75.0     John      1    0.5   156
24  1/25/2019     Friday         82.0      Ada      7    0.3    84
25  1/26/2019   Saturday         69.0     John      0    0.5   125
26  1/27/2019     Sunday         82.0      Ada      6    0.3   177
27  1/28/2019     Monday         96.0     John     10    0.5   166
28  1/29/2019    Tuesday         84.0     John      4    0.5   198
29  1/30/2019  Wednesday         84.0      Ada      7    0.3   105
30  1/31/2019   Thursday         92.0     John      8    0.5   172
31   2/1/2019     Friday         92.0     John      9    0.5   121
32   2/2/2019   Saturday         69.0     John      9    0.5   187
33   2/3/2019     Sunday         65.0     John      6    0.5   194
34   2/4/2019     Monday         67.0      Ada      3    0.3    94
35   2/5/2019    Tuesday         70.0     John      4    0.5   193
36   2/6/2019  Wednesday         86.0      Ada      5    0.3   114
37   2/7/2019   Thursday         71.0      Ada      3    0.3   110
38   2/8/2019     Friday         90.0     John      3    0.5   162
39   2/9/2019   Saturday         87.0     John      6    0.5   141
41  2/11/2019     Monday         68.0     John      2    0.5   158
42  2/12/2019    Tuesday         80.0     John      0    0.5   174
43  2/13/2019  Wednesday         78.0     John      0    0.5   142
44  2/14/2019   Thursday         85.0     John      1    0.5   126
45  2/15/2019     Friday         83.0      Ada      4    0.3    87
46  2/16/2019   Saturday         71.0     John      3    0.5   199
47  2/17/2019     Sunday         96.0     John      2    0.5   141
48  2/18/2019     Monday         80.0     John      6    0.5   200
49  2/19/2019    Tuesday         71.0     John      2    0.5   193

In [12]:
# convert Date string to datetime object
df['Date'] = pd.to_datetime(df['Date'], format = '%m/%d/%Y')

C:\Users\sykri\AppData\Local\Temp/ipykernel_8532/2475737240.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'], format = '%m/%d/%Y')

In [13]:
df.head()

        Date       Day  Temperature Salesman Tweets  Price Sales
0 2019-01-01   Tuesday         72.0     John      2    0.5   177
2 2019-01-03  Thursday         69.0     John      5    0.5   172
3 2019-01-04    Friday        100.0     John      7    0.5   150
5 2019-01-06    Sunday         91.0      Ada      8    0.5   120
6 2019-01-07    Monday         81.0      Ada      3    0.3    96

In [ ]:
# save date frame to CSV file
df.to_csv("cookies_clean1.csv", index= False)

In [14]:
# pivot index (row) and column 
df.pivot(index="Date", columns ="Salesman")

                  Day            Temperature        Tweets      Price       \
Salesman          Ada       John         Ada   John    Ada John   Ada John
Date
2019-01-01        NaN    Tuesday         NaN   72.0    NaN    2   NaN  0.5
2019-01-03        NaN   Thursday         NaN   69.0    NaN    5   NaN  0.5
2019-01-04        NaN     Friday         NaN  100.0    NaN    7   NaN  0.5
2019-01-06     Sunday        NaN        91.0    NaN      8  NaN   0.5  NaN
2019-01-07     Monday        NaN        81.0    NaN      3  NaN   0.3  NaN
2019-01-09        NaN  Wednesday         NaN   69.0    NaN    8   NaN  0.5
2019-01-10        NaN   Thursday         NaN   61.0    NaN   10   NaN  0.5
2019-01-11        NaN     Friday         NaN   79.0    NaN    1   NaN  0.5
2019-01-13        NaN     Sunday         NaN   80.0    NaN    5   NaN  0.5
2019-01-14        NaN     Monday         NaN   64.0    NaN    8   NaN  0.5
2019-01-15    Tuesday        NaN        94.0    NaN      6  NaN   0.5  NaN
2019-01-17   Thursday        NaN        74.0    NaN      2  NaN   0.3  NaN
2019-01-18        NaN     Friday         NaN   89.0    NaN    4   NaN  0.5
2019-01-19        NaN   Saturday         NaN   87.0    NaN    6   NaN  0.5
2019-01-20        NaN     Sunday         NaN  100.0    NaN    7   NaN  0.5
2019-01-21        NaN     Monday         NaN   89.0    NaN    8   NaN  0.5
2019-01-22        NaN    Tuesday         NaN   82.0    NaN    6   NaN  0.5
2019-01-23  Wednesday        NaN        60.0    NaN      7  NaN   0.3  NaN
2019-01-24        NaN   Thursday         NaN   75.0    NaN    1   NaN  0.5
2019-01-25     Friday        NaN        82.0    NaN      7  NaN   0.3  NaN
2019-01-26        NaN   Saturday         NaN   69.0    NaN    0   NaN  0.5
2019-01-27     Sunday        NaN        82.0    NaN      6  NaN   0.3  NaN
2019-01-28        NaN     Monday         NaN   96.0    NaN   10   NaN  0.5
2019-01-29        NaN    Tuesday         NaN   84.0    NaN    4   NaN  0.5
2019-01-30  Wednesday        NaN        84.0    NaN      7  NaN   0.3  NaN
2019-01-31        NaN   Thursday         NaN   92.0    NaN    8   NaN  0.5
2019-02-01        NaN     Friday         NaN   92.0    NaN    9   NaN  0.5
2019-02-02        NaN   Saturday         NaN   69.0    NaN    9   NaN  0.5
2019-02-03        NaN     Sunday         NaN   65.0    NaN    6   NaN  0.5
2019-02-04     Monday        NaN        67.0    NaN      3  NaN   0.3  NaN
2019-02-05        NaN    Tuesday         NaN   70.0    NaN    4   NaN  0.5
2019-02-06  Wednesday        NaN        86.0    NaN      5  NaN   0.3  NaN
2019-02-07   Thursday        NaN        71.0    NaN      3  NaN   0.3  NaN
2019-02-08        NaN     Friday         NaN   90.0    NaN    3   NaN  0.5
2019-02-09        NaN   Saturday         NaN   87.0    NaN    6   NaN  0.5
2019-02-11        NaN     Monday         NaN   68.0    NaN    2   NaN  0.5
2019-02-12        NaN    Tuesday         NaN   80.0    NaN    0   NaN  0.5
2019-02-13        NaN  Wednesday         NaN   78.0    NaN    0   NaN  0.5
2019-02-14        NaN   Thursday         NaN   85.0    NaN    1   NaN  0.5
2019-02-15     Friday        NaN        83.0    NaN      4  NaN   0.3  NaN
2019-02-16        NaN   Saturday         NaN   71.0    NaN    3   NaN  0.5
2019-02-17        NaN     Sunday         NaN   96.0    NaN    2   NaN  0.5
2019-02-18        NaN     Monday         NaN   80.0    NaN    6   NaN  0.5
2019-02-19        NaN    Tuesday         NaN   71.0    NaN    2   NaN  0.5

           Sales
Salesman     Ada John
Date
2019-01-01   NaN  177
2019-01-03   NaN  172
2019-01-04   NaN  150
2019-01-06   120  NaN
2019-01-07    96  NaN
2019-01-09   NaN  177
2019-01-10   NaN  190
2019-01-11   NaN  154
2019-01-13   NaN  161
2019-01-14   NaN  185
2019-01-15   137  NaN
2019-01-17    85  NaN
2019-01-18   NaN  122
2019-01-19   NaN  187
2019-01-20   NaN  165
2019-01-21   NaN  158
2019-01-22   NaN  192
2019-01-23    87  NaN
2019-01-24   NaN  156
2019-01-25    84  NaN
2019-01-26   NaN  125
2019-01-27   177  NaN
2019-01-28   NaN  166
2019-01-29   NaN  198
2019-01-30   105  NaN
2019-01-31   NaN  172
2019-02-01   NaN  121
2019-02-02   NaN  187
2019-02-03   NaN  194
2019-02-04    94  NaN
2019-02-05   NaN  193
2019-02-06   114  NaN
2019-02-07   110  NaN
2019-02-08   NaN  162
2019-02-09   NaN  141
2019-02-11   NaN  158
2019-02-12   NaN  174
2019-02-13   NaN  142
2019-02-14   NaN  126
2019-02-15    87  NaN
2019-02-16   NaN  199
2019-02-17   NaN  141
2019-02-18   NaN  200
2019-02-19   NaN  193

In [15]:
# pivot index (row) and column with specified values
df.pivot(index="Date", columns ="Salesman", values = "Sales")

Salesman    Ada John
Date
2019-01-01  NaN  177
2019-01-03  NaN  172
2019-01-04  NaN  150
2019-01-06  120  NaN
2019-01-07   96  NaN
2019-01-09  NaN  177
2019-01-10  NaN  190
2019-01-11  NaN  154
2019-01-13  NaN  161
2019-01-14  NaN  185
2019-01-15  137  NaN
2019-01-17   85  NaN
2019-01-18  NaN  122
2019-01-19  NaN  187
2019-01-20  NaN  165
2019-01-21  NaN  158
2019-01-22  NaN  192
2019-01-23   87  NaN
2019-01-24  NaN  156
2019-01-25   84  NaN
2019-01-26  NaN  125
2019-01-27  177  NaN
2019-01-28  NaN  166
2019-01-29  NaN  198
2019-01-30  105  NaN
2019-01-31  NaN  172
2019-02-01  NaN  121
2019-02-02  NaN  187
2019-02-03  NaN  194
2019-02-04   94  NaN
2019-02-05  NaN  193
2019-02-06  114  NaN
2019-02-07  110  NaN
2019-02-08  NaN  162
2019-02-09  NaN  141
2019-02-11  NaN  158
2019-02-12  NaN  174
2019-02-13  NaN  142
2019-02-14  NaN  126
2019-02-15   87  NaN
2019-02-16  NaN  199
2019-02-17  NaN  141
2019-02-18  NaN  200
2019-02-19  NaN  193

In [16]:
# pivot index (row) and column with specified values
df.pivot(index="Salesman", columns ="Date", values = "Sales")

Date,2019-01-01,2019-01-03,2019-01-04,2019-01-06,2019-01-07,2019-01-09,2019-01-10,2019-01-11,2019-01-13,2019-01-14,...,2019-02-09,2019-02-11,2019-02-12,2019-02-13,2019-02-14,2019-02-15,2019-02-16,2019-02-17,2019-02-18,2019-02-19
Salesman,,,,,,,,,,,,,,,,,,,,,
Ada,NaN,NaN,NaN,120,96,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,87,NaN,NaN,NaN,NaN
John,177,172,150,NaN,NaN,177,190,154,161,185,...,141,158,174,142,126,NaN,199,141,200,193

In [ ]:
# read new data file 
df = pd.read_csv('BankTest.csv')

In [ ]:
df.tail(20)

In [ ]:
# Using pivot_table method to group and summarize data
df.pivot_table(index="y", columns ="marital")

In [ ]:
# Using pivot_table method to group and summarize data with specified values
df.pivot_table(index="y", columns ="education", values = "age" )

In [ ]:
df.pivot_table(index="marital", columns ="y", values = "balance")

In [ ]:
# Using pivot_table method to group and summarize data using aggfunc parameter to get sum, min, max, etc.
df.pivot_table(index="marital", columns ="y", values = "age", aggfunc="max")